.sus{
    margin: 0;
    font-size: 85%;
    background: #f4f4f4;
    border: 1px solid #ddd;
    font-family: monospace;
    color: #666;
}

.item{
    background: #f4f4f4;
    border: 1px solid #ddd;
}

  